*{
  padding: 0px;
  margin: 0px;
}
nav{
  background-color: lightblue;
}
[class="(╯°□°）╯︵ ┻━┻"]{
  display: inline-block;
}
#img_logo{
  animation: fade 10s infinite;
  height: 100px;
  width: 125px;
  box-shadow: 0 0 8px 8px black inset;
}

ul{
  list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
}
li{
  display: inline-block;
  padding: 1px;
  margin: 1px;
  float:right;
}
li a{
  display: inline-block;
  background-color: violet;
  font-size: 20px;
  text-decoration: none;
}

.div_h1{
  height: 800px;
  background-image: url(munder_section1.jpeg);
  background-size: cover;
}

.h1_company{
  text-shadow: 2px 2px blue;
}
p{
  font-size: 40px;
  text-shadow: 4px 5px lightblue;
}

h1{
  border-style: double none double none;
  border-color: purple;
  text-align: center;
}
footer{
  background: linear-gradient(white, #D8E2DC);
}

@keyframes fade {
  0%{opacity: 0};
  25%{opacity: .2};
  50%{opacity: .6};
  75%{opacity: .8};
  100%{opacity: .1};
}

/* img{
  display: inline-block;
} */
